/* 
Together-2
 */
 body{
	background:#B3B3B3;
	margin:5%;
	font-size: 150%;

}

header > h1{
	background: #626566;
	text-align: right;
	/* border: transparent solid 15px; */

}
header{
	background: #626566;
	text-align: left;
	padding: 15px;
}


h1{
	color: #ffffff;
}

nav{
	font-variant: small-caps;
	font-family: Arial, "Times New Roman", serif;
	font-size: 150%;
}

h2{
	color: #000000;
	background: #909292;
    padding:7px;
}

section{
	width:30%;
	margin-right: 2%;
	display:inline-block;
	float: left;
}

summary{
	font-style:normal;
}

details{
	font-style: italic;
}

footer{
	background: #b3b9bb;
	height:100px;
	clear: both;
}

img{
	width: 61px;
}
/* a {

    /* display: block; */
    /* font-weight: bold; */
    color: #ffffff;
    background-color: #0006CC;
    width: 200px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
} */

